<!DOCTYPE html>
<html>
<head>
    <title>Betsson DevOps</title>
</head>

<body>
    <h1>Betsson DevOps Test</h1>
    <table width="100%" border="1" cellpadding="2" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Result</td>
            <td><pre><%=status%></pre></td>
        </tr>
        <tr>
            <td colspan="2">
                <pre><%=output%></pre>
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
